# Maven
target/
# IntelliJ IDEA
.idea/
*.iml
# NetBeans
nbproject/private/
nbactions.xml
nb-configuration.xml
# Eclipse / VS Code
.classpath
.project
.settings/
.vscode/
# Sistema operativo
.DS_Store
Thumbs.db
